{
  "extends": [
      "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "no-case-declarations": "off",
    "no-empty": "off",
    "prefer-const": "off",
    "no-fallthrough": "off"
  },
  "ignorePatterns": []
}
