{
  "include": [
    "packages/*/src/**/*.ts"
  ],
  "exclude": [
    "**/index.ts"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "extension": [
    ".ts"
  ],
  "check-coverage": true,
  "lines": 89.54,
  "functions": 84.49,
  "branches": 73.8,
  "statements": 89.15
}
