<div class="plugin-api-search-nav">
    <%- components.dropdown("Type", types) %>
    <%- components.dropdown("Status", status) %>
    <div class="form-search api-search">
        <input placeholder="Filter">
        <i class="material-icons">search</i>
    </div>
</div>